@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --BGCOLOR: #333;
    --FONTCOLOR_BR: #ddd;
    --FONTCOLOR_DK: #999;
}

html {
    background-color: var(--BGCOLOR);
}

body {
    font-family: 'Schibsted Grotesk', sans-serif;
}

h1 {
    margin: 1rem 0;
    color: var(--FONTCOLOR_BR);
}

p {
    margin: 1rem 3rem;
    color: var(--FONTCOLOR_DK);
}